body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-color: aquamarine;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    padding: 10px;
}

header .nav li {
    display: inline;
    padding-right: 5px;
}

header .nav li a {
    text-decoration: none;
    border: 1px solid black;
    color: #fff;
    padding: 3px;
    background-color: #000;
}


header .nav li a:hover {
    color: yellow
}

#sc a {
    background-color: royalblue;
    border: 1px solid royalblue;
}

/* main */
.product {
    position: relative;
}

.product img {
    width: 200px;
    height: 300px;
}

.product h3 {
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.add-cart {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: darkgray;
    top: 270px;
    font-weight: 700;
    text-decoration: none;
    height: 20px;
    padding: 5px 0;
    opacity: 0;
}



.add-cart:hover,
.product img:hover~a {
    opacity: 0.8;
    color: #000;
}

/* -----------------About-------------------------- */

.about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ----------------Cart page----------------------- */

.products-container {
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;

}

.products-container img {
    width: 80px;
    height: 90px;
}

table {
    width: 70%;
    border-bottom: 1px solid #444444;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    border-bottom: 1px solid #444444;
    padding: 10px;
}

td {
    position: relative;
}

td i {
    color: red;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}